body {
    margin: 0;
    padding: 16px;
    font-family: "Lexend", "Noto Sans SC", sans-serif;
    font-weight: 300;
    background-color: #570773;
    color: #fff;
}

h2 {
    font-weight: 400;
}

button {
    appearance: none;
    font-family: inherit;
    background: none;
    border: 2px solid white;
    color: inherit;
    line-height: 19px;
    border-radius: 4px;
    transition: background-color 300ms ease-out;
}
button:disabled {
    opacity: 0.5;
}
button:hover:not(:disabled) {
    background-color: rgba(255, 255, 255, 0.25);
}
button:active:not(:disabled) {
    background-color: rgba(255, 255, 255, 0.3);
    transform: translate(1px, 1px);
}
